body {
  text-align: center;
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner {
  margin: 10px;
}
.gallery {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.image {
  margin: 20px;
  cursor: pointer;
  transition: 1s ease;
  box-shadow: 20px 18px 25px 5px rgba(0,0,0,0.75);
  border-top: 4px solid rgba(255, 255, 255, 0.266);
  border-left: 4px solid rgba(255, 255, 255, 0.266);
  border-right: 4px solid rgba(255, 255, 255, 0.266);
 }

 .image:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
 }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.50);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-header, .modal-footer {
  padding: 10px;
  background-color: white;
}

.modal-body {
  padding: 10px;
  background-color: white;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.nationality-text{
  font-size: 20px;
  font-family: Pa;
}

@media only screen and (max-width: 600px) { 

    .banner {
      width: 300px;
    }

    .image {
      width: 200px;
    }


}