@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

body {
  text-align: center;
  font-family: 'Spectral', serif;
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner {
  margin: 10px;
}

input {
  height: 30px;
  width: 600px;
  background-color: rgba(128, 128, 128, 0.222)
}

button {
  font-family: 'Spectral', serif;
  -webkit-box-shadow: 15px 13px 23px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 15px 13px 23px 0px rgba(0,0,0,0.75);
  box-shadow: 15px 13px 23px 0px rgba(0,0,0,0.75);  
}

.gallery {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.50);
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal-header, .modal-footer {
  padding: 10px;
  background-color: white;
}

.modal-body {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.978);
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.image {
  margin: 20px;
  cursor: pointer;
  box-shadow: 20px 18px 25px 5px rgba(0,0,0,0.75);
  border-top: 6px solid rgba(255, 255, 255, 0.266);
  border-left: 6px solid rgba(255, 255, 255, 0.266);
  border-right: 6px solid rgba(255, 255, 255, 0.266);
 }


.nationality-text{
  font-size: 20px;
}

@media only screen and (max-width: 600px) { 

  body {
    background: url(images/mobilewallpaper2.jpeg) center center fixed no-repeat; 
    margin: 0;
    justify-content: center;
    
  }
    .banner {
      width: 200px;
    }

  
    img {
      width: 100px;
    }

    .image {
      width: 100px;
    }

    input { 
      width: 300px;
    }
   


}